<div class="row">
    <div col="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.jpg" alt="" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Nombre</p>
        <p>Full stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
        <h1>Acerca de mi</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum tempora distinctio consequuntur, nesciunt iste et magni vero temporibus sapiente amet. Veniam, magni quaerat architecto perferendis dolorum ipsam fuga similique sunt.</p>
        </span>
    </div>
</div>